.transaction {
    display: grid;
    grid-template-columns: auto 1fr;
    padding-left: 0;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.transaction input {
    margin-left: 20px;
}

.inner .amount {
    justify-content: flex-end; /* Rechtsbündig für Konsistenz */
}


.transaction:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.inner {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    width: 100%;
    padding: 5px 0; /* Weniger Padding, vorher: 10px 0 0 20px */
}


.inner .amount {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.date, .category, .account, .amount {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.amount {
    text-align: right;
    padding: 5px 20px;
    border-radius: 10px;
    width: fit-content;
    margin-bottom: 15px;
}

.expenses {
    color: var(--error);
    background-color: #FFCCCC;
}

.income {
    background-color: #CBF9FF;
    color: #1a73e8;
}

.three-points {
    cursor: pointer;
    text-align: center;
}
